<div class="container" style="margin-top: 20px;">
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="<%= asset_url "projects_thumbnail.jpg" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
          <p class="card-text">Create some projects and manage them on the go</p>
          <%= link_to "Click here", projects_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <h4>Tasks :-</h4>
      <table id="example" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Task Name</th>
            <th class = "select">Status</th>
            <th class = "select">Assigned to</th>
            <th class = "select">Project</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.try(:created_tasks).try(:each) do |task| %>
            <tr>
              <td>
                <%= task.try(:name) %>
                <a href = "<%= task_path(task) %>">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <%= task.try(:status) %>    
              </td>
              <td>
                <%= task.try(:developer).try(:email) %>    
              </td>
              <td>
                <%= task.try(:project).try(:name) %>    
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    $('#example').DataTable( {
        "ordering": false,
        "scrollX": true,
        initComplete: function () {
        this.api().columns().every(function () {
            var column = this;
            if ($(column.header()).hasClass('select')) {
                console.log(column);
                var select = $('<select class = "form-control"><option value="">' + $(column.header()).html() + '</option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function (e) {
                            e.stopImmediatePropagation();
                            var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                    );
                            column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            return false;
                        });
                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                });
            } else if ($(column.header()).hasClass('text')) {
                var text = $('<input type="text" placeholder="' + $(column.header()).html() + '" />')
                        .appendTo($(column.header()).empty())
                        .on('keyup change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );
                            if (column.search() !== this.value) {
                                column
                                        .search(val)
                                        .draw();
                            }
                            return false;
                        });

            }
        });
      }
    } );
  } );
</script>