<div class="container" style="margin-top: 20px;">
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="col-sm-12">
      <% if can? :edit, @project %>
        <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-success" %>
      <% end %>
      <% if can? :create, @task %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Add task
        </button>
      <% end %>
      <% if can? :delete, @project %>
        <%= link_to "Delete Project", project_path(@project), class: "btn btn-danger", :"data-method" => "DELETE", style: "float: right;" %>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    
    <div class="col-lg-6 col-sm-12"> 
      <div class="list-group">
        Project details :- 
        <ul class="list-group">
          <li class="list-group-item">
            Name :- <%= @project.try(:name) %>
          </li>
          <li class="list-group-item" style="overflow-wrap: break-word;">
            <p>Description :- <%= @project.try(:description) %></p> 
          </li>
          <li class="list-group-item" style="overflow-wrap: break-word;">
            <p>Admin :- <%= @project.try(:manager).try(:email) %></p> 
          </li>
        </ul>
      </div>
    </div> 
    
    <div class="col-lg-6 col-sm-12">
      Developers :- 
      <div class="list-group" style="max-height: 200px;overflow-y: scroll;">
        <% @project.try(:developers).try(:each) do |developer| %>
          <li class="list-group-item">
            <%= developer.try(:email) %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  <hr/>
  <div class = "row">

    <div class="col-lg-12 col-sm-12" style="margin-top: 10px;">
      <table id="example" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Task Name</th>
            <th class = "select">Status</th>
            <th class = "select">Assigned to</th>
          </tr>
        </thead>
        <tbody>
          <% @project.tasks.try(:each) do |task| %>
            <% if task.persisted? %>
              <tr>
                <td><%= task.try(:name) %></td>
                <td><%= task.try(:status) %></td>
                <td><%= task.try(:developer).try(:email) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for @task do |f| %>

            <div class="form-group">
              <%= f.label :name, for: "task_name" %>
              <%= f.text_field :name, class: "form-control", id: "task_name", placeholder: "Enter task name", required: true %>
            </div>
            
            <div class="form-group">
              <%= f.label :description, for: "task_description" %>
              <%= f.text_area :description, id: "task_description", class: "form-control", placeholder: "Enter task description", required: true %>
              <%= f.hidden_field :project_id %>
            </div>

            <div class="form-group">
              <%= f.label :developer_id, "Assign to" %>
              <%= f.collection_select :developer_id, @project.developers, :id, :email, {}, { class: "form-control" } %>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable( {
        "ordering": false,
        initComplete: function () {
        this.api().columns().every(function () {
            var column = this;
            if ($(column.header()).hasClass('select')) {
                var select = $('<select class = "form-control"><option value="">' + $(column.header()).html() + '</option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function (e) {
                            e.stopImmediatePropagation();
                            var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                    );
                            column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            return false;
                        });
                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                });
            } else if ($(column.header()).hasClass('text')) {
                var text = $('<input type="text" placeholder="' + $(column.header()).html() + '" />')
                        .appendTo($(column.header()).empty())
                        .on('keyup change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );
                            if (column.search() !== this.value) {
                                column
                                        .search(val)
                                        .draw();
                            }
                            return false;
                        });

            }
        });
      }
    } );
  } );
</script>